<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<title>Web-IT Invoice</title>
	{% block stylesheets %}
		{% render "webit_extjs.controller.extjs:includeCSSFilesAction" %}
		<link rel="stylesheet" href="/bundles/webitextjs/css/no-frame-border.css" type="text/css" />
	{% endblock %}
	</head>
	<body>
	
	{% block footerjavascripts %}
		{% render "webit_extjs.controller.extjs:includeJSFilesAction" %}
		<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		<script type="text/javascript" src="/bundles/webitinvoice/js/app.js"></script>
	{% endblock %}
	</body>
</html>
